<td class="center">
    {% if item.started %}
        <a class="btn" href="{{ path(action.route, { 'id': item.id }) }}">{{ 'Close'|trans }}</a>
    {% elseif item.closed %}
        <div class="label">{{ 'Closed'|trans }}</div>
    {% else %}
        <a class="btn" href="{{ path(action.route, { 'id': item.id }) }}">{{ action.label|trans }}</a>
    {% endif %}
</td>
